<h1 layout-padding>Log Data</h1>

<div ng-show="logsCtrl.loading">
  <md-progress-circular md-mode="indeterminate"></md-progress-circular>
</div>

<section ng-hide="logsCtrl.loading">
  <md-subheader>
    <div layout="row">
      <span flex ng-repeat="header in ::logsCtrl.headers">{{::header}}</span>
    </div>
  </md-subheader>

  <md-divider></md-divider>

  <md-list ng-style="{'margin-top': logsCtrl.topMargin + 'px'}">
    <md-list-item ng-repeat="log in logsCtrl.visibleLogs">
      <span flex ng-repeat="value in ::log track by $index">{{::value || "N/A"}}</p>
    </md-list-item>
  </md-list>

  <md-button ng-click="logsCtrl.loadMore()">
    Load more
  </md-button>
</section>
