<div layout-padding ng-show="logsCtrl.loading">
  <h2>Grabbing your logs...</h2>
  <h4>This could take a moment for large data sets.</h4>
  <md-progress-linear md-mode="indeterminate"></md-progress-linear>
</div>

<section ng-hide="logsCtrl.loading">
  <div layout-padding layout="row" layout-align="end end">
    <md-input-container flex="40">
      <label>Enter search text (strict)</label>
      <input ng-model="searchText">
    </md-input-container>
  </div>

  <div layout-padding layout="row" layout-align="end end">
    <md-button class="md-primary" ng-click="logsCtrl.filterLogs(searchText)">Search</md-button>
    <md-button ng-click="logsCtrl.clearFilter(); searchText = ''">Clear</md-button>
  </div>

  <div layout-padding layout="column" layout-align="center start">
    <p>Results found: {{logsCtrl.filteredLogs.length}}</p>
  </div>

  <md-subheader>
    <div layout="row">
      <span flex ng-repeat="header in ::logsCtrl.headers">{{::header}}</span>
    </div>
  </md-subheader>

  <md-divider></md-divider>

  <div layout-padding>
    <md-progress-circular ng-show="logsCtrl.searching" md-mode="indeterminate"></md-progress-circular>

    <md-list ng-hide="logsCtrl.searching" ng-style="{'margin-top': logsCtrl.topMargin + 'px'}">
      <md-list-item ng-repeat="log in logsCtrl.visibleLogs">
        <span flex ng-repeat="value in ::log track by $index">{{::value || "N/A"}}</p>
      </md-list-item>
    </md-list>
  </div>
</section>
